header.header
  .container-fluid
    .row.align-items-center.justify-content-between
      .col-md-3.col-12.mb-2.mb-md-0
        .inner-logo.text-md-left.text-center
          a(href='/')
            img(src='/images/logo.svg', alt='logo', class='logo')

      .col-md-5.col-12.mb-2.mb-md-0
        .box-search-custom
          form(action='/search/result', method='GET', class='search-form')
            input.form-control.search-input(
              type='text',
              name='keyword',
              placeholder='What are you looking for?',
              value=keyword
            )
            button(type='submit', class='btn-search')
              i.fa.fa-search

      .col-md-4.col-12
        .inner-menu.text-md-right.text-center
          ul.list-inline.mb-0
            li.list-inline-item
              a(href='/dashboard')
                i.fa-solid.fa-house
                |  Dashboard

            li.list-inline-item.dropdown
              a.dropdown-toggle(href='#', role='button')
                i.fa-solid.fa-microphone-lines
                |  Speaking

              ul.dropdown-menu
                li
                  a.dropdown-item(href='/part1/index') Part 1
                li
                  a.dropdown-item(href='/part2/sample') Part 2

            if(!user)
              li.list-inline-item
                a(href='/user/login')
                  i.fa-solid.fa-right-from-bracket
                  |  Sign in
            else
              li.user-menu.list-inline-item
                button.user-toggle(type='button')
                  if(user.avatar==null)
                    img.avatar(src='https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp')
                  else 
                    img.avatar(src=user.avatar)
                  span.username #{user.username}

                .user-dropdown.hidden
                  a.info-user(href=`/user/detail/${user.id}`)
                    i.fa-solid.fa-circle-info
                    |  Profile
                  a.logout(href='/user/logout')
                    i.fa-solid.fa-right-from-bracket
                    |  Sign out
