header.header 
  .container
    .row.align-items-center 
      .col-3 
        .inner-logo 
          a(href='/')
            img(src='/images/logo.svg', alt='logo', class='logo')

      .col-5 
        .box-search 
          form(
            action='search/result'
            method='GET'
          ) 
          div(class='form-group d-flex mb-0')
            input(
              type='text'
              placeholder='Nhập từ khóa..'
              class='form-control'
              name='keyword'
              value=keyword
            )
            button(
              type='submit'
              class='btn btn-primary'
            ) Search
          .inner-suggest 
            .inner-list 
      
      .col-4 
        .inner-menu 
          ul 
            li 
              a(href='/dashboard') <i class="fa-solid fa-house"></i>  Trang chủ
