header.header
  .container-fluid
    .row.align-items-center.justify-content-between
      .col-md-3.col-12.mb-2.mb-md-0
        .inner-logo.text-md-left.text-center
          a(href='/dashboard')
            img(src='/images/logo.svg', alt='logo', class='logo')

      .col-md-5.col-12.mb-2.mb-md-0
        .box-search-custom
          form(action='/search/result', method='GET', class='search-form')
            input.form-control.search-input(
              type='text',
              name='keyword',
              placeholder='Tìm kiếm...',
              value=keyword
            )
            button(type='submit', class='btn-search')
              i.fa.fa-search
            .inner-suggest 
              .inner-list

      .col-md-4.col-12
        .inner-menu.text-md-right.text-center
          ul.list-inline.mb-0.d-flex.align-items-center.gap-3
            li.list-inline-item
              a(href='/dashboard')
                i.fa-solid.fa-house
                |  Trang chủ

            // Speaking Dropdown
            li.list-inline-item.dropdown
              a.dropdown-toggle(href='#', id='speakingDropdown', role='button', data-bs-toggle='dropdown', aria-expanded='false')
                i.fa-solid.fa-microphone-lines
                |  Luyện nói
              ul.dropdown-menu(aria-labelledby='speakingDropdown')
                li
                  a.dropdown-item(href='/part1/index') Part 1
                li
                  a.dropdown-item(href='/part2/index') Part 2

            if (!loggedInUser)
              li.list-inline-item
                a(href='/user/login')
                  i.fa-solid.fa-right-from-bracket
                  |  Đăng nhập
            else
              // User Avatar Dropdown
              li.list-inline-item.dropdown
                a.dropdown-toggle(href='#', id='userDropdown', role='button', data-bs-toggle='dropdown', aria-expanded='false')
                  if (loggedInUser.avatar == null)
                    img.avatar(src='https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp', class='rounded-circle', style='width:32px;height:32px;object-fit:cover;')
                  else 
                    img.avatar(src=loggedInUser.avatar, class='rounded-circle', style='width:32px;height:32px;object-fit:cover;')
                  span.username.ms-2 #{loggedInUser.username}
                ul.dropdown-menu.dropdown-menu-end(aria-labelledby='userDropdown')
                  li
                    a.dropdown-item(href=`/user/detail/${loggedInUser.id}`)
                      i.fa-solid.fa-circle-info
                      |  Trang cá nhân
                  li
                    a.dropdown-item(href=`/user/edit/${loggedInUser.id}`)
                      i.fa-solid.fa-gear
                      |  Cài đặt
                  li
                    hr.dropdown-divider
                  li
                    a.dropdown-item(href='/user/logout')
                      i.fa-solid.fa-right-from-bracket
                      |  Đăng xuất
