extend ../../layouts/default.pug

block main 
    if (news.title)
        h1(class="mb-4") #{news.title}

    
    if (news.img)
        div(class="text-center mb-4")
            img(
                src=news.img 
                style="width: 500px"
                class="img-fluid"
                )
    
    if (news.status)
        div(class="mb-4") 
            span Trạng thái
            if (news.status == "active")
                span(class="badge badge-success ml-2") Hoạt động
            else 
                span(class="badge badge-danger ml-2") Không hoạt động
    
    
    if (news.content)
        div(class="mb-4") !{news.content}
    a(
        href=`/${prefixAdmin}/news/edit/${news.slug}`
        type="submit"
        class="btn btn-warning"
        ) Sửa
        

