extends ../../layouts/default.pug

block main 
  h1(class='mb-4') #{pageTitle}

  .card.mb-3 
    .card-header News List
    .card-body 
      .row.justify-content-end.mb-3
        .col-auto
          a(
            href=`/${prefixAdmin}/news/create`
            class="btn btn-outline-success"
          ) + ADD

    .div.table-responsive
      table.table.table-bordered.table-news
        thead 
          tr 
            th(style='width: 50px; text-align: center;') No.
            th(style='width: 200px;text-align: center;') Title
            th(style='width: 120px; text-align: center;') Thumbnail
            th(style='width: 400px;text-align: center;') Content
            th(style='width: 100px; text-align: center;') Status
            th(style='width: 180px; text-align: center;') Actions
        
        tbody 
          each item, index in news
            tr
              td.text-center #{index+1}
              td #{item.title}
              td.text-center 
                img(
                  src=item.img 
                  alt=item.title 
                  width="150px"
                  height="auto"
                )
              td.content-preview !{item.content}
              td.text-center
                if(item.status === 'active')
                  a(href="javascript:;" class="badge badge-success") active 
                else 
                  a(href="javascript:;" class="badge badge-danger") inactive 
              td.text-center
                a(
                  class="btn btn-secondary btn-sm"
                  href=`/${prefixAdmin}/news/detail/${item.slug}`
                ) Detail
                a(
                  class="btn btn-warning btn-sm ml-1"
                  href=`/${prefixAdmin}/news/edit/${item.slug}`
                ) Edit
                button(
                  class="btn btn-danger btn-sm ml-1"
                  button-delete
                  data-id=item.id
                ) Del

  form(
    action=''
    method='POST' 
    id='form-delete-item'
    data-path=`/${prefixAdmin}/news/delete`
  )
