extends ../../../layouts/default.pug
include ../../../mixins/alert.pug

block main
  div.alert-container
      +alert-success(5000)
      +alert-error(5000)


  div#initialData(data-qindex=sample.questions.length hidden)

  form(method="POST", action=`/${prefixAdmin}/part1/sample/edit/${sample.slug}?_method=PATCH`, enctype="multipart/form-data")
    div(class="form-group")
            label(for="title") Tiêu đề
            input(
                type="text"
                class="form-control"
                id="title"
                name="title"
                required
                value=sample.title
            )
    .card.shadow-sm.mb-4
      .card-body.p-0
        .table-wrapper
          .table-responsive
            table.table.table-bordered.align-middle
              thead.table-light
                tr
                  th(scope='col') STT
                  th(scope='col') Câu hỏi
                  th(scope='col') Câu trả lời
                  th(scope='col') Hành động

              tbody#questionTableBody
                each question, qIndex in sample.questions
                  tr
                    td.align-middle= qIndex + 1

                    // Câu hỏi
                    td
                      textarea(
                          type='text'
                          class='form-control'
                          id=`question-${qIndex}`
                          name=`questions[${qIndex}][text]`
                          rows='10'
                          textarea-mce
                          value=question[0]
                      ) !{question[0]}
                      if question[1]
                        audio.controls.mt-2
                          source(src=question[1], type="audio/mpeg")
                      input.form-control.mt-2(type="file", name=`questions[${qIndex}][audio]`, accept="audio/*")
                      a(href=question[1], target="_blank")= question[1]

                    // Câu trả lời
                    td
                      textarea(
                          type='text'
                          class='form-control'
                          id=`answer-${qIndex}`
                          name=`answers[${qIndex}][text]`
                          rows='10'
                          textarea-mce
                          value=sample.answers[qIndex][0]
                      ) !{sample.answers[qIndex][0]}
                      if sample.answers[qIndex][1]
                        audio.controls.mt-2
                          source(src=sample.answers[qIndex][1], type="audio/mpeg")
                      input.form-control.mt-2(type="file", name=`answers[${qIndex}][audio]`, accept="audio/*")
                      a(href=sample.answers[qIndex][1], target="_blank")= sample.answers[qIndex][1]
                    
                    // Cột nút xoá
                    td
                      button.btn.btn-sm.btn-danger(type="button", onclick=`removeRow(this)`)
                        i.fas.fa-trash
                  


        div.p-3
          button.btn.btn-outline-primary(type="button", onclick="addQuestionRow()")
            i.fas.fa-plus.me-1
            | Thêm

    div(class="form-group form-check form-check-inline")
        input(
            type="radio"
            class="form-check-input"
            id="statusActive"
            name="status"
            value="active"
            checked=(sample.status == "active" ? true : false)
        )
        label(for="statusActive" class="form-check-label") Hoạt động

    div(class="form-group form-check form-check-inline")
        input(
            type="radio"
            class="form-check-input"
            id="statusInActive"
            name="status"
            value="inactive"
            checked=(sample.status == "inactive" ? true : false)
        )
        label(for="statusInActive" class="form-check-label") Không hoạt động
    div(class="form-group")
        button(
            type="submit"
            class="btn btn-primary"
        ) Cập nhật

block scripts
  script.
    document.addEventListener('DOMContentLoaded', function () {
      if (typeof initTinyMCE === 'function') {
        initTinyMCE(); // hoặc initTinyMCEForNewTextareas()
      }
    });

  script(src="/admin/js/sample.js") 