extend ../../layouts/default
include ../../mixins/box-head

block main 
  .container.my-5
    .row 
      .col-12 

    .row
      .col-12
        .card.shadow-lg.border-0.rounded-3
          .card-header.bg-primary.text-white.py-3.rounded-top
            h4.mb-0.text-center Part 1

          .card-body.bg-light
            // Sample section
            .mb-5
              h5.text-primary.mb-3 Bài mẫu
              .row
                each sample in samples
                  .col-md-4.mb-4
                    .card.card-hover.shadow-sm.border-0.rounded-3
                      .card-body
                        h5.card-title.mb-0
                          a(href=`/part1/sample/${sample.slug}`, class="text-decoration-none text-primary fw-bold") #{sample.title}

            // Practice section
            h5.text-primary.mb-3 Bài luyện tập
            .row
              each practice in practices
                .col-md-4.mb-4
                  .card.card-hover.shadow-sm.border-0.rounded-3
                    .card-body
                      h5.card-title.mb-0
                        if loggedInUser
                          a(href=`/part1/practice/${practice.slug}`, class="text-decoration-none text-primary fw-bold") #{practice.title}
                        else
                          a(
                            href=`/user/login?redirect=/part1/practice/${practice.slug}`, 
                            class="text-decoration-none text-secondary fw-bold", 
                            title="Đăng nhập để sử dụng"
                          ) 
                            i.fa-solid.fa-lock.mr-1
                            | #{practice.title}
