extend ../../layouts/default

block styles
  link(rel='stylesheet', href='/css/bootstrap-profiles.min.css')

block main 
  section(style='background-color: #eee;')
    .container.py-5
      .row
        // Cột bên trái: avatar, thông tin, mạng xã hội
        .col-lg-4
          .card.mb-4
            .card-body.text-center
              img#avatarPreview.rounded-circle.img-fluid(
                src=user.avatar || 'https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp'
                alt='avatar'
                style='width: 150px; height: 150px; object-fit: cover;'
              )
              h5.my-3 #{user.username}
              p.text-muted.mb-1 #{user.slogan || ''}
              .d-flex.justify-content-center.mb-2
                button.btn.btn-primary(type='button') Follow

          // Thông tin cá nhân
          .card.mb-4
            .card-body
              .row.mb-3
                .col-sm-4
                  strong Username:
                .col-sm-8
                  span.text-muted #{user.username}
              .row.mb-3
                .col-sm-4
                  strong Email:
                .col-sm-8
                  span.text-muted #{user.email}
              .row.mb-3
                .col-sm-4
                  strong Phone:
                .col-sm-8
                  span.text-muted #{user.phone || '(empty)'}
              .row
                .col-sm-4
                  strong Address:
                .col-sm-8
                  span.text-muted #{user.address || '(empty)'}

          // Mạng xã hội
          .card
            .card-body.p-0
              ul.list-group.list-group-flush.rounded-3
                li.list-group-item.d-flex.justify-content-between.align-items-center.p-3
                  i.fab.fa-twitter.fa-lg(style='color: #55acee;')
                  p.mb-0 #{user.twitter || '(empty)'}
                li.list-group-item.d-flex.justify-content-between.align-items-center.p-3
                  i.fab.fa-instagram.fa-lg(style='color: #ac2bac;')
                  p.mb-0 #{user.instagram || '(empty)'}
                li.list-group-item.d-flex.justify-content-between.align-items-center.p-3
                  i.fab.fa-facebook-f.fa-lg(style='color: #3b5998;')
                  p.mb-0 #{user.facebook || '(empty)'}

        // Cột bên phải: các bài viết (answers)
        .col-lg-8
          .card
            .card-body
              if user.answers && user.answers.length > 0
                each answer in user.answers
                  .card.mb-4.shadow-sm
                    .card-header.bg-light
                      h5.mb-0.text-primary #{answer.topic}
                      small.text-muted.mt-2.d-block Created at #{moment(answer.createdAt).format('DD/MM/YYYY')}

                    .card-body
                      h6.text-muted.mb-2 Question:
                      p.card-text= answer.question

                      h6.text-muted.mb-2 Answer:
                      p.card-text !{answer.answer}

                      h6.text-muted.mb-2 Highlighted sentence:
                      p.card-text !{answer.pronunciationData.highlighted_sentence}

                      h6.text-muted.mb-2 Highlighted IPA:
                      p.card-text !{answer.pronunciationData.highlighted_ipa}

                      .row.mb-3
                        .col-md-6
                          p.card-text.mb-1
                            strong Score:
                            |  #{answer.pronunciationData.score}
                        .col-md-6
                          p.card-text.mb-1
                            strong Grammar:
                            |  #{answer.suggestData.grammar_explanation}

                      h6.text-muted.mb-2 Corrected Answer:
                      p.card-text #{answer.suggestData.corrected_answer}

                      h6.text-muted.mb-2 Relevance:
                      p.card-text #{answer.suggestData.relevance}

                      h6.text-muted.mb-2 Suggested Answer:
                      p.card-text.text-primary-emphasis #{answer.suggestData.suggested_band_higher_answer}

                      

              else
                p.text-muted No answers yet.
