extend ../../layouts/default

block styles
  link(rel='stylesheet', href='/css/bootstrap-profiles.min.css')

block main 
  section(style='background-color: #eee;')
    .container.py-5
      .row
        // Cột bên trái: avatar, thông tin, mạng xã hội
        .col-lg-4
          .card.mb-4
            .card-body.text-center
              img#avatarPreview.rounded-circle.img-fluid(
                src=user.avatar || 'https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp'
                alt='avatar'
                style='width: 150px; height: 150px; object-fit: cover;'
              )
              h5.my-3 #{user.username}
              p.text-muted.mb-1 #{user.slogan || ''}
              .d-flex.justify-content-center.text-center.rounded-3.p-2(style='background-color: #efefef;')
                .mx-3
                  p.small.text-muted.mb-1 Bài viết
                  p.mb-0 #{lenAnswer}
                .mx-3
                  a(href=`/user/following/${user.id}`, class='small text-muted mb-1') Đang theo dõi
                  p.mb-0 #{lenFollowing}
                .mx-3
                  a(href=`/user/follower/${user.id}`, class='small text-muted mb-1') Người theo dõi
                  p.mb-0 #{lenFollower}

              if isOwnProfile == false
                .mt-4
                  .d-flex.justify-content-center.mb-2
                    button#followBtn.btn.btn-primary(
                      type='button',
                      data-user-id=user.id,
                      data-following=isFollowing ? 'true' : 'false'
                    ) #{isFollowing ? 'Hủy theo dõi' : 'Theo dõi'}




          // Thông tin cá nhân
          .card.mb-4
            .card-body
              .row.mb-3
                .col-sm-4
                  strong.d-inline Tên người dùng:
                .col-sm-8
                  span.text-muted #{user.username}
              .row.mb-3
                .col-sm-4
                  strong Email:
                .col-sm-8
                  span.text-muted #{user.email}
              .row.mb-3
                .col-sm-4
                  strong Số điện thoại:
                .col-sm-8
                  span.text-muted #{user.phone || '(empty)'}
              .row
                .col-sm-4
                  strong Địa chỉ:
                .col-sm-8
                  span.text-muted #{user.address || '(empty)'}

          // Mạng xã hội
          .card
            .card-body.p-0
              ul.list-group.list-group-flush.rounded-3
                li.list-group-item.d-flex.justify-content-between.align-items-center.p-3
                  i.fab.fa-facebook-f.fa-lg(style='color: #3b5998;')
                  p.mb-0 #{user.facebook || '(empty)'}
                li.list-group-item.d-flex.justify-content-between.align-items-center.p-3
                  i.fab.fa-instagram.fa-lg(style='color: #ac2bac;')
                  p.mb-0 #{user.instagram || '(empty)'}
                li.list-group-item.d-flex.justify-content-between.align-items-center.p-3
                  i.fab.fa-twitter.fa-lg(style='color: #55acee;')
                  p.mb-0 #{user.twitter || '(empty)'}
                
                

        // Cột bên phải: các bài viết (answers)
        .col-lg-8
          .card
            .card-body
              if user.answers && user.answers.length > 0
                each answer in user.answers
                  .card.mb-4.shadow-sm
                    .card-header.bg-light
                      h5.mb-0.text-primary #{answer.topic}
                      if answer.createdAt
                        small.text-muted.mt-2.d-block Ngày đăng #{moment(answer.createdAt).format('DD/MM/YYYY')}

                    .card-body
                      if answer.question
                        h6.text-muted.mb-2 Câu hỏi:
                        p.card-text= answer.question

                      if answer.answer
                        h6.text-muted.mb-2 Câu trả lời:
                        p.card-text !{answer.answer}

                      if answer.pronunciationData.highlighted_sentence
                        h6.text-muted.mb-2 Câu đánh dấu:
                        p.card-text !{answer.pronunciationData.highlighted_sentence}

                      if answer.pronunciationData.highlighted_ipa
                        h6.text-muted.mb-2 IPA đánh dấu:
                        p.card-text !{answer.pronunciationData.highlighted_ipa}

                      if answer.pronunciationData.score
                        p.card-text.mb-1
                          strong Điểm:
                          |  #{(answer.pronunciationData.score * 10).toFixed(1)}


                      if answer.suggestData.grammar_explanation
                        p.card-text.mb-1
                          strong Ngữ pháp:
                          |  #{answer.suggestData.grammar_explanation}

                      if answer.suggestData.relevance
                        h6.text-muted.mb-2 Mức độ liên quan:
                        p.card-text #{answer.suggestData.relevance}

                      if answer.suggestData.suggested_band_higher_answer
                        h6.text-muted.mb-2 Gợi ý câu trả lời:
                        p.card-text.text-primary-emphasis #{answer.suggestData.suggested_band_higher_answer}

                      

              else
                p.text-muted Không có bài viết nào.

block script 
  script(src="/js/follow.js") 