extend ../../layouts/default
include ../../mixins/alert

block styles 
  link(rel="stylesheet", href="/css/settings.css")

block main 
  div.alert-container
    +alert-success(5000)
    +alert-error(5000)
  form(action=`/user/edit/${user.id}?_method=PATCH` method='POST' enctype='multipart/form-data')
    input#tabInput(type="hidden" name="tab" value=tab || 'account-general')
    .container.light-style.flex-grow-1.container-p-y
      h4.font-weight-bold.py-3.mb-4
        | Cài đặt tài khoản
      .card.overflow-hidden
        .row.no-gutters.row-bordered.row-border-light
          .col-md-3.pt-0
            .list-group.list-group-flush.account-settings-links
              a.list-group-item.list-group-item-action.active(data-toggle='tab' href='#account-general') Cài đặt chung
              if user.googleId == null
                a.list-group-item.list-group-item-action(data-toggle='tab' href='#account-change-password') Đổi mật khẩu
              a.list-group-item.list-group-item-action(data-toggle='tab' href='#account-social-links') Mạng xã hội

          .col-md-9
            .tab-content
              #account-general.tab-pane.fade.active.show
                .card-body.media.align-items-center
                  img#avatarPreview.rounded-circle.img-fluid(
                    src=user.avatar || 'https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp'
                    alt='avatar'
                    style='width: 150px; height: 150px; object-fit: cover;'
                  )

                  .media-body.ml-4.form-group(upload-image)
                    label.btn.btn-outline-primary(for='img') Tải ảnh mới
                    input#img(
                      type='file'
                      name='avt'
                      accept='image/*'
                      style='display: none;'
                      upload-image-input
                    )

                hr.border-light.m-0
                .card-body
                  .form-group
                    label.form-label Tên người dùng
                    input.form-control.mb-1(type='text' name='username' value=user.username)

                  .form-group
                    label.form-label E-mail
                    input.form-control.mb-1(type='text' value=user.email name='email')
                    input(type='text' name='id' value=user.id hidden)
                    if user.verify == false
                      .alert.alert-warning.mt-3
                        | Email chưa xác nhận. Xác nhận ngay tại đây!
                        br
                        button#sendOtpBtn.btn.btn-warning(type='button') Gửi OTP

                        .form-group-otp
                          label(for='otp') Nhập mã OTP
                          input#otp.form-control(type='text' name='otp' required placeholder='Enter 6-digit OTP')
                          button#verifyOtpBtn.btn.btn-primary.mt-2(type='submit') Xác thực


                  .form-group
                    label.form-label Số điện thoại
                    input.form-control(type='text' value=user.phone name='phone')
                  .form-group
                    label.form-label Địa chỉ
                    input.form-control(type='text' value=user.address name='address')
                  .form-group
                    label.form-label Slogan
                    input.form-control(type='text' value=user.slogan name='slogan')
              
              #account-change-password.tab-pane.fade
                .card-body.pb-2
                  .form-group
                    label.form-label Mật khẩu hiện tại
                    input.form-control(type='password' name='password')
                  .form-group
                    label.form-label Mật khẩu mới
                    input.form-control(type='password' name='newPassword')
                  .form-group
                    label.form-label Nhập lại mật khẩu
                    input.form-control(type='password' name='confirmPassword')  

              #account-social-links.tab-pane.fade
                .card-body.pb-2
                  .form-group
                    label.form-label Facebook
                    input.form-control(type='text' value=user.facebook name='facebook')
                  .form-group
                    label.form-label Instagram
                    input.form-control(type='text' value=user.instagram name='instagram')
                  .form-group
                    label.form-label Twitter
                    input.form-control(type='text' value=user.twitter name='twitter')
                  
        



      .text-center.mt-3
        button#saveBtn.btn.btn-save.badge-success(type='submit') Lưu


block script 
  script(src="/js/settings.js") 