block main
  .container.mt-4
    h2 Kết quả tìm kiếm cho "#{keyword}"

    if sample.length
      h3.mt-4 Bài mẫu
      ul.list-group
        each item in sample
          li.list-group-item
            a(href=`/part1/sample/${item.slug}`) #{item.title}

    if practice.length
      h3.mt-4 Bài luyện tập 
      ul.list-group
        each item in practice
          li.list-group-item
            a(href=`/part1/practice/${item.slug}`) #{item.title}
    
    if part2.length
      h3.mt-4 Part 2
      ul.list-group
        each item in part2
          li.list-group-item
            a(href=`/part2/${item.slug}`) #{item.title}

    if user.length
      h3.mt-4 Người dùng 
      ul.list-group
        each u in user
          li.list-group-item.d-flex.align-items-center
            img.rounded-circle(src=u.avatar, alt="avatar", width="40", height="40")
            a.ms-2(href=`/user/detail/${u.id}`) #{u.username}

    if !sample.length && !practice.length && !part2.length && !user.length
      p.text-muted Không tìm thấy.
