.wrapper
  aside#sidebar.sider
    .d-flex
      button.toggle-btn(type='button')
        i.lni.lni-grid-alt
      .sidebar-logo
        a(href=`/${prefixAdmin}/dashboard`) NHG EDU
    ul.sidebar-nav
      li.sidebar-item
        a.sidebar-link.collapsed.has-dropdown(href=`/${prefixAdmin}/dashboard` data-bs-target='#auth1' aria-expanded='false' aria-controls='auth1')
          i.fa-solid.fa-house
          span.menu-title Trang chủ
          i.arrow-icon.fa-solid.fa-angle-down
        ul#auth1.sidebar-dropdown.list-unstyled.collapse
          li.sidebar-item-sub
            a.sidebar-link(href=`/${prefixAdmin}/news/index`) Bài báo

      li.sidebar-item
        a.sidebar-link.collapsed.has-dropdown(href=`/${prefixAdmin}/part1` data-bs-target='#auth2' aria-expanded='false' aria-controls='auth2')
          i.fa-solid.fa-wave-square
          span.menu-title Part 1
          i.arrow-icon.fa-solid.fa-angle-down
        ul#auth2.sidebar-dropdown.list-unstyled.collapse
          li.sidebar-item-sub
            a.sidebar-link(href=`/${prefixAdmin}/part1/sample/index`) Bài mẫu
          li.sidebar-item-sub
            a.sidebar-link(href=`/${prefixAdmin}/part1/practice/index`) Bài luyện tập
      li.sidebar-item
        a.sidebar-link(href=`/${prefixAdmin}/part2/index`)
          i.fa-solid.fa-sliders
          span Part 2
      li.sidebar-item
        a.sidebar-link(href=`/${prefixAdmin}/account/detail/${user.id}`)
          i.lni.lni-user
          span Thông tin cá nhân

      li.sidebar-item
        a.sidebar-link(href=`/${prefixAdmin}/account/edit/${user.id}`)
          i.lni.lni-cog
          span Cài đặt
    .sidebar-footer
      a.sidebar-link(href=`/${prefixAdmin}/account/logout`)
        i.lni.lni-exit
        span Đăng xuất


