extend ../../layouts/default
include ../../mixins/box-head

block styles
  link(rel='stylesheet', href='/css/dashboard.css')

block main 
  .body-section
    .container
      if activeNews
        .content-left
          h1.title #{activeNews.title}
          img.stats(src=`${activeNews.img}`, alt="")
          p.description !{activeNews.content}

        .content-right
          h3.menu-title IELTS
          ul.menu
            each item in newsList
              li(class=item.slug == activeNews.slug ? 'active' : '')
                a(href=`/dashboard/news/${item.slug}`) #{item.title}
